/* Footer Styles */
.footer {
    background-color: #172337;
    color: white;
    padding: 40px 0;
    margin-top: 40px;
    font-size: 12px;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #454d5e;
}

.footer-col h4 {
    color: #878787;
    margin-bottom: 15px;
    font-size: 12px;
    font-weight: 400;
}

.footer-col ul li {
    margin-bottom: 8px;
}

.footer-col ul li a {
    color: white;
}

.footer-col ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    padding-top: 25px;
    text-align: center;
    color: #fff;
    font-size: 14px;
}